<section class="menu-ppal"> <!-- MENU -->
    <div class="container">
        <div class="row">
            <nav id="menuppal">
                <ul>
                  <li><a routerLink="/inicio"><i class="fa fa-home icono"></i></a></li>
                  <li><a href="ingreso.html" class="active"><i class="fa fa-money icono"></i> Ingreso</a></li>
                  <li><a href="ventas.html"><i class="fa fa-list-alt icono"></i> Ventas</a></li>
                  <li><a routerLink="/productos"><i class="fa fa-opencart icono"></i> Productos</a></li>  
                  <li><a href="pedidos.html"><i class="fa fa-opencart icono"></i> Pedidos</a></li>
                  <li><a href="configuracion.html"><i class="fa fa-cog icono"></i> Configuración <i class="fa fa-angle-down"></i></a>
                  <!-- Otros enlaces -->
                </ul>
              </nav>
              
        </div>
    </div>
    <!-- END MENU -->

</section>