<section class="container">
    <!-- CONTAINER -->
    <div class="row">
        <!-- ROW -->
        <div class="filtros">
            <!-- FILTROS -->
                <div class="clearfix"></div>
                <div class="reportes">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="table-responsive table stacktable">
                                <table class="table table-striped table-condensed table-bordered table-hover">
                                    <thead class="reportes-titulos">
                                        <tr>
                                            <th class="tabla-check text-center">-</th>
                                            <th>Nombre Cliente
                                                <a href="" target="_self"></a>
                                            </th>
                                            <th>Rut
                                                <a href="" target="_self"></a>
                                            </th>
                                            <th>Pedido
                                                <a href="" target="_self"></a>
                                            </th>
                                            <th>Teléfono
                                                <a href="" target="_self"></a>
                                            </th>
                                            <th>Dirección </th>
                                            <th>A Pagar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="tabla-check text-center">1</td>
                                            <td>Benjamin</td>
                                            <td>22.345.765-k</td>
                                            <td>002</td>
                                            <td>945736543</td>
                                            <td>Avda Centinela 0344</td>
                                            <td>$45.392</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabla-check text-center">2</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabla-check text-center">3</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabla-check text-center">4</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="tabla-check text-center">5</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td class="tabla-check text-center">6</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="panel-footer">
                                <div class="text-right">
                                    <button type="button" class="btn btn-info pull-left m-1" id="import_lect"><i class="fa fa-print icon-left"></i> Imprimir</button> 
                                    <button type="button" type="button" class="btn btn-danger text-right m-1"><i class="fa fa-save icon-left"></i> Salir</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
        </div>
</div>