<section class="menu-ppal"> <!-- MENU -->
    <div class="container">
        <div class="row">
            <nav id="menuppal"><!-- MENU -->
                <ul>
                    <li><a href="index.html"><i class="fa fa-home icono"></i></a></li>
                    <li><a href="ingreso.html" class="active"><i class="fa fa-money icono"></i> Ingreso</a></li>
                    <li><a href="ventas.html"><i class="fa fa-list-alt icono"></i> Ventas</a></li>
                    <li><a href="pedidos.html"><i class="fa fa-opencart icono"></i> Pedidos</a></li>
                    <li ><a href="configuracion.html"><i class="fa fa-cog icono"></i> Configuración <i class="fa fa-angle-down"></i></a>
                    </li>
                    <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Cerrar Sesión"><i class="fa fa-sign-out icono icono-out"></i></a></li>
                </ul>
                <!-- END MENU -->
            </nav>
        </div>
    </div>
    <!-- END MENU -->
    <script type="text/javascript" src="assets/js/menu-rwd/jquery.meanmenu.js"></script>
</section>